[submodule "local-packages/req"]
	path = local-packages/req
	url = https://github.com/mrkkrp/req.git
[submodule "local-packages/discord-haskell"]
	path = local-packages/discord-haskell
	url = https://github.com/discord-haskell/discord-haskell.git
